name: Test workflow
on:
  workflow_dispatch:

jobs:
  calculate-and-send:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ vars.REPOSITORY }}
          ref: ${{ vars.REF }}

      - name: Setup uv
        uses: astral-sh/setup-uv@v3
        with:
          version: '0.5.4'

      - name: Run script
        env:
          ZOTERO_ID: 17889134
          ZOTERO_KEY: aaqh8bfSdiQb7UXq57sLl8On
          ZOTERO_IGNORE: ${{ vars.ZOTERO_IGNORE }}
          ARXIV_QUERY: all:compression+AND+abs:mesh+OR+point+cloud
          SEND_EMPTY: ${{ vars.SEND_EMPTY }}
          SMTP_SERVER: smtp.qq.com
          SMTP_PORT: 465
          SENDER: 1094697804@qq.com
          RECEIVER: 18091722183@163.com
          SENDER_PASSWORD: glhnyvwigiwmhchb
          MAX_PAPER_NUM: 5
          USE_LLM_API: ${{ secrets.USE_LLM_API }}
          OPENAI_API_KEY: sk-npihjnqynfptargsqrazsvfeetuilddoetkieanzzchvbvzk
          OPENAI_API_BASE: https://api.siliconflow.cn/v1
          MODEL_NAME: Qwen/Qwen2.5-7B-Instruct
          LANGUAGE: Chinese
        run: |
          uv run main.py
