name: Test workflow
on:
  workflow_dispatch:

jobs:
  calculate-and-send:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ vars.REPOSITORY }}
          ref: ${{ vars.REF }}

      - name: Setup uv
        uses: astral-sh/setup-uv@v3
        with:
          version: '0.5.4'

      - name: Run script
        env:
          ZOTERO_ID: 17889134
          ZOTERO_KEY: aaqh8bfSdiQb7UXq57sLl8On
          ZOTERO_IGNORE: ${{ vars.ZOTERO_IGNORE }}
          ARXIV_QUERY: cat:cs.CV%20OR%20cat:cs.MM%20OR%20cat:cs.IT%20OR%20cat:cs.GR%20OR%20cat:cs.LG
          SEND_EMPTY: ${{ vars.SEND_EMPTY }}
          SMTP_SERVER: smtp.qq.com
          SMTP_PORT: 465
          SENDER: 1094697804@qq.com
          RECEIVER: 18091722183@163.com
          SENDER_PASSWORD: glhnyvwigiwmhchb
          MAX_PAPER_NUM: 20
          USE_LLM_API: ${{ secrets.USE_LLM_API }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_API_BASE: ${{ secrets.OPENAI_API_BASE }}
          MODEL_NAME: ${{ secrets.MODEL_NAME }}
          LANGUAGE: Chinese
        run: |
          uv run main.py --debug
